.jumbotron {
    padding: 60px 25px;

    background-color: #283e4a ;
    margin:0px;
    color : #fafafa;




}

.img-nav{
background-image: url("img/presse.jpg");
padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;
    }

    .container-fluid {
    padding: 60px 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: #0275d8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    animation: mymove 8s infinite;
}
@keyframes mymove {
    from {background-color: #0275d8;}
    to {background-color: #191970;}
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0275d8 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
#footer {
  background: #F0FFF0;
  padding: 10px 0;
}

.footer a:hover {
  color: green;
}
